body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: rgb(226, 226, 226);
    width: 50%;
    margin: auto;
}

.question {font-weight: bold;}

form {
background: rgba(255, 146, 3, 0.938);
width: 100%;
max-width: 400px;
border-radius: 8px;
box-shadow: 0px 15px 20px -12px;
margin: auto;
text-align: center;
padding: 10px;
} 

textarea {
    max-width: 100%;
    border-radius: 8px;
    width: 95%;
    margin-left: 8px;
}

textarea:hover {
    background-color: skyblue;
}

.checkbox {
    display: inline;
}